@media screen and (min-width: 600px) and (max-width: 900px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 20px;
  }
  .section {
    background-color: #f4f4f4;
    color: #666;
    padding: 50px 70px;
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 901px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 20px;
  }
  .section {
    background-color: #f4f4f4;
    color: #666;
    padding: 50px 100px;
    max-width: 700px;
    margin: auto;
  }
}
